.ProjectDesc{
    width: 40%;
    text-align: center;
    padding-left: 2%;
    padding-right: 5%;
    height: 31vh;
    overflow: hidden;

}


img{
    background-color: #fecb00;
    height: 45vh;
    width: inherit;
    text-align: center;
    display: block;
    margin: 0 auto;
}


#one{
    height: 20vh;
}


#two{
    height: 33vh;
}


#three{
    height: 31vh;
}


.Projects table:hover tr:not(:hover) {
    opacity: 0.1;
    position:relative;
}
