.ProjectDesc{
    width: 40%;
    text-align: center;
    padding-left: 2%;
    padding-right: 6%;
    height: 31vh;
    overflow: hidden;
    
}

img{
    
}

.Projects tr td {
    margin: 2px;
}

.Projects table:hover tr:not(:hover) {
    opacity: 0.1;
    position:relative;
}
