nav {
  display: inline-block;
}
<<<<<<< HEAD
body{
  background-color: #FFFF99;
  background-image: ("/C4CLogo.jpeg")
=======
>>>>>>> Michael

.ProjectDesc{
    width: 40%;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    
}

.ProjectPic{
    
    
}